body {
    background-color: powderblue;
    overflow-x:hidden;
}

.header {
  position: static;
  background-color: Moccasin;
  left: 0;
  width : 100%;
}

.content {
  top: 20px;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  background-color: #AEC6CF;
  border-style: inset;
}

.footer {
  position: absolute;
  background-color: Moccasin;
  bottom: 0;
  margin-right: 20px;
  width : 99%;
  text-align: center;
}


.footer a {
  color: rgb(128, 0, 0);
}

 .button {
   position: relative;
   left:48%;
 }

.top {
  top : 10px;
}
.bottom {
  top: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}
