body {
    background-color: powderblue;
    overflow-x:hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  position: static;
  background-color: Moccasin;
  left: 0;
  width : 100%;
}

.content {
  top: 20px;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  background-color: #AEC6CF;
  border-style: inset;
}

.footer {
  position: absolute;
  background-color: Moccasin;
  bottom: 0;
  margin-right: 20px;
  width : 99%;
  text-align: center;
}


.footer a {
  color: rgb(128, 0, 0);
}

button {
      border: none;
      color: white;
      padding: 6px;
      font-size: 10px;
      margin: 4px 2px;
      background-color: Green;
}


.button, #loadall {
   position: relative;
   left:48%;
}

.submitbutton {
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
}

#loadall, .loadtable{
  border-radius: 8px;
  background-color: SeaGreen ;
}

.top {
  top : 10px;
}
.bottom { /*the bottom button*/
  top: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}
