body {
    background-color: powderblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

.center{
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#project_name {
    font-family:Courier New, Courier, monospace;
    font-size: 50px;
}
/* Hide all steps by default: */
.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.footer {
  position: absolute;
  bottom: 0%;
  width : 99%;
  text-align: center;
}

footer {
  background-color: Moccasin;
}

.footer a {
  color: rgb(128, 0, 0);
}


button{
    border: none;
    outline: none;
    color: white;
    padding: 6px;
    font-size: 10px;
    margin: 4px 2px;
    background-color: green;
}

button:hover{
  opacity: 0.7;
}

.nextBtn{
    border-radius: 12px;
    padding: 10px;
    font-size: 15px;
}

.prevBtn {
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
  background-color: #bbbbbb;
}

.header {
  position: static;
  display: none;
  left: 0;
  width : 100%;
}

header {  
  background-color: Moccasin;
}

.button {
  display: none;
}

.button, #loadall {
  position: relative;
  left:45%;
}


#loadall, .loadtable{
 border-radius: 8px;
 background-color: SeaGreen ;
}

.top {
 top : 10px;
 display: none;
}
.bottom { /*the bottom button*/
 top: 30px;
 display: none;
}
#secondtab, #thirdtab{
  top: 20px;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  background-color: #AEC6CF;
  border-style: inset;
}

#thirdtab table, #secondtab table {
  font-family: arial, sans-serif;
  border-collapse: collapse;

}

#thirdtab td, #thirdtab th, #secondtab td, #secondtab th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

#thirdtab tr:nth-child(odd), #secondtab tr:nth-child(odd) {
  background-color: #dddddd;
}

#thirdtabcontent{
  margin-left:20px;
  margin-right: 20px;
}
.timeformat {
  margin-left:40px;
}
.files{
  display: none;
}
#lastPrev {
  position: relative;
  left: 45%;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.show {
 display: block;
}

.relative {
  position: relative;
  width: 100%;
}