.tagsToggle {
	padding: 14px 20px;
	border-radius: 10px;
	
}
.tagsFilter{
	border: solid 3px #000000;
	width:280px;
	padding : 5px;
	overflow-y: scroll;
	height:400px;
}

#add-the-tag{
	color:red;
	
}

/* add extra-condensed */
